@using BC.Auth.Domain
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    @if (SignInManager.IsSignedIn(User))
    {
        <br />
        <br />
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <div class="d-flex justify-content-center align-items-center">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"><b>Logout</b></button>
        </form>
        </div>
    }
    else
    {
    <h1 class="display-4">Log In or Sign In</h1>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Click here for Login</a>
    }
</div>
